*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    position: relative;
    height: 100vh;
    margin: 0;
    background-color: #121212;
}
/* TYPOGRAPHY */
.movie-title{
    font-size: 1.15rem;
}

a{
    text-decoration: none;
    color: white;
}

/* HEADER & IT'S CONTAINER*/

header{
    height: 13rem;
    color: white;
    background: url(image\ 36.png) no-repeat center center;
    background-size: cover;
    background-color: #0E0E0E;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    height: 100%;
    margin: 0 auto;
}
.container > h1{
    font-weight: 800;
    font-size: 42.79px;
    letter-spacing: -0.045em;
}
.container > button{
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

/* SEARCH BAR */

.search-bar{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    justify-content: center;
    position: relative;
    height: 2.5rem;
    margin: -1.5rem 0;
}

.search-inputs{
    grid-column: 1;
    width: 25rem;
    border-top: 0 black;
    border-right: none;
    border-bottom: 0 black;
    border-left: 0 black;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #39393a;
    font-size: 1.1rem;
    padding: 0.75rem 0 1rem 1rem;
}
.fa-magnifying-glass{
    color: #9CA3AF;
}
#search-input{
    width: 90%;
    height: 120%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;
    padding: 0 0 0 0.5rem ;
    color: white;
    font-weight:500;
}
#search-btn{
    grid-column: 3;
    width: 8rem;
    border-top: 0 black;
    border-right: 0 black;
    border-bottom: 0 black;
    border-left: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 1rem;
    background-color: #4B4B4B;
    color: white;
    cursor: pointer;
}

/* ICONS */

.fa-film{
    font-size: 5rem;
    color: #2E2E2F;
}
.fa-star{
    color: rgb(255, 208, 0);
}
.fa-circle-plus{
    color: rgb(4, 156, 30);
    font-size: 15px;
}
.fa-circle-minus{
    color: rgb(223, 32, 32);
    font-size: 15px;
}

.start-exploring{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 32.5rem;
    top: 60%;
    align-items: center;
    margin: 0 auto;
}
.start-exploring > h4{
    font-size: 18px;
    font-weight: 700;
    color: #2E2E2F;
}
#movie-container, #watchlist-page{
    width: 32.5rem;
    margin: 75px auto;
}

/* MOVIE DIVS */
.movie-div{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 20px 0;
    color: white;
    gap: 25px;
}
.movie-div-details > div{
    display: flex;
    align-items: center;
}
.poster{
    grid-row: 1/-1;
    border-radius: 2.32941px;
    height: 200px;
    width: 135px;
}
#watchlist-btn{
    border: none;
    color:white;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}
.plot-disc{
    color: #A5A5A5;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.error-msg{
    color: #A5A5A5;
    text-align: center;
}
.title-div{
    gap: 10px;
}
.runtime-div{
    gap: 20px;
    font-size: 12px;
    font-weight: 400;
}
.empty-watchList{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    margin-top: 10%;
}
.empty-watchList > a{
    display: flex;
    align-items: center;
    color: white;
    gap: 8px;
}
.empty-watchList > h3 {
    color: #787878
}